@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100&display=swap');

body {
    background-color:aqua;
    text-align:center;
    font-family: 'Playpen Sans', cursive;
    font-size: 24px;
}

